body  {

	margin:0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image:url('img/Back.jpg');
	background-repeat: repeat;
}

canvas {
	width: 		100%;
	height: 	100%;
	padding: 	0;
	margin: 	0;
	overflow:	hidden;
	position:  absolute;
}

@font-face{ 
	font-family: 'Nova-Square';
	src: url('font/novasquare-webfont.eot');
	src: url('font/novasquare-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/novasquare-webfont.woff') format('woff'),
	     url('font/novasquare-webfont.ttf') format('truetype'),
	     url('font/novasquare-webfont.svg#webfont') format('svg');
}

.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background-color:#ffffff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:7px solid #000000;
	display:inline-block;
	color:#000000;
	font-family:'Nova-Square', cursive;
	font-size:25px;
	height:39px;
	line-height:39px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
	margin-left: auto;
  margin-right: auto;
}

.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background-color:#ffffff;
}.classname:active {

	position:relative;
	top:2px;
}


#ButtonIndex {

position:absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
margin-top: 400px;
margin-bottom: auto;
width:214px;
height:39px;


}

#leaderBoard {
	position: absolute;
	display: none;
	margin:auto;
	left:0;
	right:0;
	bottom:0;
	top:0;
	width: 600px;
	border:5px solid #323232;
	background-color: #a9a9a9;
	opacity:0.6;
-moz-box-shadow: 0px 10px 25px 3px #000000;
-webkit-box-shadow: 0px 10px 25px 3px #000000;
-o-box-shadow: 0px 10px 25px 3px #000000;
box-shadow: 0px 10px 25px 3px #000000;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=25);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
font-family: 'Nova-Square';
font-size:25px;

}

#TitreIndex  {

position:absolute;
margin-left: auto;
margin-right: auto;
left: 10px;
right: 0;
top:100px;
font-family: 'Nova-Square';
font-size:65px;
width:900px;
height:100px;
font-color:black;
}

#ButtonScreenIndex  {

position:absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
margin-top: 550px;
width:214px;
height:39px;

}

.ButtonLogin {

position:absolute;
margin-left: auto;
margin-right: auto;
left: -30px;
right: 0;
margin-top: 100px;


}

.ButtonBackLogin {

position:absolute;
margin-left: auto;
margin-right: auto;
left: -30px;
right: 0;
margin-top: 200px;



}


form  {

font-family:Arial;
font-size:35px;
font-weight:bold;
font-style:normal;

}

.EnsembleLogin  {

position:absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
margin-top:400px;
width:150px;
height:350px;
display:none;

}

#textEror  {

position:absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
font-size:35px;

}

label  {

font-family: 'Nova-Square';

}


